footer {
  margin-top: auto;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

footer ul li {
  text-align: right;
  padding: 10px;
}
